<h1>New Customer</h1>
<form class="form" action="/customers" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required>
  <br>
  <br>
  <label for="address">Address:</label>
  <input type="text" name="address" id="address" required>
  <br>
  <br>
  <label for="dob">D.O.B:</label>
  <input type="text" name="dob" id="dob" value="dd/mm/yy" required>
  <br>
  <br>
  <input type="submit" value="Add Customer">
</form>
