<h1>Add Stock</h1>
<form class="form" action="/stock_items" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required>
  <br>
  <br>
  <label for="category">Category:</label>
  <input type="text" name="category" id="category" required>
  <br>
  <br>
  <label for="size">Size:</label>
  <input type="text" name="size" id="size" required>
  <br>
  <br>
  <input type="submit" value="Add Stock">
</form>
