<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Kiteshop</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/stock_items">Stock</a></li>
        <li><a href="/customers">Customers</a></li>
        <li><a href="/rentals">Rentals</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
